.main-about{
    width: 100%;
    height: auto;
    background-color: rgb(240,244,246);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Heading{
    padding-top: 3rem;
    font-size: 2.7rem;
    color: rgb(35,28,140);
    font-weight: 550;
    font-family: "Helvetica Neue", Helvetica, Arial-sans-serif;
}

.AboutContent{
    width: 85%;
    height: auto;
}
.AboutContent p{
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 100;
}
.ieeeLogo{
    height: auto;
    width: auto;
}
.ieeeLogo img{
    width: 15rem;
    height: auto;
}

.IEEE-Flyer{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.IEEE-Flyer button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 15rem;
    height: 3rem;
    color: white;
    background: rgb(51,122,183);
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
   
}
.IEEE-Flyer button:hover{
    cursor:pointer;
}
.sponsors{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sponsors-title{
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 100;
}
.sponsors-logos{
    padding-top: 1.5rem;
}
.sponsors-logos img{
    width: 60rem;
    height: auto;
}
.sponsors{
    padding-bottom: 2rem;
}

@media (max-width : 770px) {
    .Heading{
        font-size: 2rem;
        padding-top: 1rem;
    }
    .AboutContent{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .AboutContent p{
        font-weight: 200;
        font-size: 1.3rem;
    }
    .ieeeLogo img{
        width: 13rem;
    }
    .sponsors{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sponsors-title{
        font-weight: 200;
        font-size: 1.3rem;
    }
    .sponsors-logos img{
        width: 24rem;
    }
}