.main-bar1{
    font-size: 1.1rem;
    font-weight: 500;
}
.bar1{
    display: flex;
    /* align-content: center; */
    /* -ms-flex-item-align: center; */
    width: 100%;
    text-align: center;
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
    background-color: rgb(253, 254, 255);
    /* padding: 1%; */
}
.venue{
    width: 26.5rem;
    padding: 2%;
    padding-right: 6%;
}
.contact{
    width: 26.5rem;
    padding: 2%;
    padding-right: 6%;
}
.email{
    width: 26rem;
    padding: 2%;
    padding-right: 6%;
}
a{
    align-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
}
p{
    align-content: center;
    text-align: center;
}
img{
    height: 50px;
    width: 50px;
    padding-bottom: 20px;
}