.text-slider{
    width: 100%;
    height: auto;
 }
 
 marquee{
    background: rgb(235,0,28);
    width: 100%;
    /* margin-top: 3vh ; */
    height: 4.5vh;
    padding-top: 1vh;
    padding-bottom: 0vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.3rem;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  
  marquee:before, marquee:after {
    position: absolute;
    top: 0;
    height: 100%;
    content: "";
  /*   z-index: -1; */
  }
  
  marquee:before {
    left: 0;
    background: #CA4246;
  }
  marquee:after {
    right: 0;
    background: #CA4246;
  }
 

@media (max-width : 770px) {
    .text-slider{
        width: 100%;
        height:auto;
        display: block;
    }
    marquee{
        padding: 0;
        height: 1.5rem;
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
}